@{
    ViewBag.Title = "About US";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Siyabonga Africa is a registered South African Non Profit Organisation (000-394-NPO) and Public Beneficiary Organisation (PBO 930010666), committed to eradicating poverty and bringing about positive change for the people of our country. We are also a certified B-BBEE enterprise.

    Although we provide food, blankets, clothing and basic necessities to those who are destitute, our ultimate aim is to create environments and opportunities that enable people to find their way out of poverty. Over the past 30 years, we have developed a variety of programmes to uplift a diversity of people – from the most vulnerable to those who have the potential but lack the opportunity to become self supporting
</p>
