
@{
    ViewBag.Title = "HelpingHand";
}
<div id="navbar" class="navbar navbar-inverse">
    <p>Helping hand page</p>
</div>
<h2>Welcome to the Helping hand page.This page is for finding what you need if that takes any physical for we wil try and help and provied to too you feel free to have a look around </h2>

<p><a href="https://www.siyabongaafrica.org.za/programmes.php#relief" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
