@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="display:flex; flex-direction:column; flex-wrap:wrap; justify-content:center; align-items:center">
    <h1>Siyabonga Africa</h1>
    <p class="lead">Siyabonga Africa acts against poverty on various levels by addressing the basic needs of disadvantaged people and giving those who can and will, opportunities to become self supported.</p>
    <p><a href="https://www.siyabongaafrica.org.za/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<img src="images/Use_Case.png" alt="Sample Image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto; width: 50%; " />


